* {
    margin: 0%;
    padding: 0%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

html {
    scroll-behavior: smooth;
}

/* header */
.nav-item a,
.nav-icon {
    text-decoration: none;
    color: rgba(38, 4, 75, 0.834);
    transition: transform 0.1s ease, color 0.1s ease;
    cursor: pointer;
}

.nav-item a:hover,
.nav-icon:hover {
    transform: scale(1.05);
    color: rgba(83, 9, 163, 0.834);
}


/* landing page */
#landing {
    background-color: #F3E8FF;

}

#main-div-landing {
    position: relative;
}

#leaf1-img {
    position: absolute;
    top: -1rem;
    right: 7rem;

}

#leaf2-img {
    position: absolute;
    left: 15rem;
    bottom: 7rem;

}

#leaf3-img {
    position: absolute;
    bottom: 3rem;
    right: 15rem;

}

#leaf4-img {
    position: absolute;
    left: 45.5rem;
    top: 0.1rem;

}

#leaf5-img {
    position: absolute;
    left: 2rem;
    top: 13rem;

}

#scoop {
    position: absolute;
    left: 8rem;
    top: 4rem;
    font-size: 75px;
    font-family: "Chewy", system-ui;
    font-weight: 800;
    color: rgba(38, 4, 75, 0.603);
    letter-spacing: 4px;
}

#happiness {
    position: absolute;
    left: 63rem;
    top: 10rem;
    font-family: "Chewy", system-ui;
    font-size: 75px;
    font-weight: 800;
    letter-spacing: 4px;
    color: rgba(38, 4, 75, 0.603);
}

#home-text {
    position: absolute;
    bottom: 17rem;
    left: 2rem;
}

@media (max-width: 768px) {
  #scoop {
    left: 2rem; 
    top: 2rem;
    font-size: 2rem;
  }

  #happiness {
    left: 10rem;
    top: 5rem;
    font-size: 2rem;
  }

  #home-img {
    width: 90%;
    max-width: 250px;
    margin-top: 7.5rem; 
  }

  #leaf1-img { top: 10.5rem; right: 2rem; width: 40px; }
  #leaf2-img { bottom: 5rem; left: 2rem; width: 30px; }
  #leaf3-img { bottom: 2rem; right: 1rem; width: 25px; }
  #leaf4-img { top: 0.3rem; left: 4.5rem; width: 30px; }
  #leaf5-img { top: 8rem; left: 11.5rem; width: 25px; }
}


/* flavours style */

.flavour-card {

    height: 200px;
    cursor: pointer;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transition: transform 0.2s ease;
    align-items: center;
}

.flavour-card img {

    width: 150px;
}

.flavour-card:hover {
    transform: scale(1.08);
}

.flavour-name {
    margin-top: 15px;

}

@media (max-width:768px) {
    .flavour-card {

        height: 150px;
        cursor: pointer;
        width: 150px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        transition: transform 0.2s ease;
        align-items: center;
    }

    .flavour-card img {

        width: 100px;
    }
}

/* about section */

.about-section {
    background-color: #eecbe958;
    min-height: 100px;

}


#about-head {
    margin-top: 10px;
    padding-top: 25px;
    font-size: 25px;
    font-weight: 600;
    color: rgba(99, 20, 93, 0.92);
    font-family: "Chewy", system-ui;
}

#about-img {
    width: 460px;
    margin-left: 30px;
}


#about-frozz {
    margin-top: -25px;
    font-size: 25px;
    color: rgba(99, 20, 93, 0.92);
}


#about-para {
    font-size: 17px;
    line-height: 2;
    text-align: justify;
    color: #444;
}

.about-section p {
    font-size: 17px;
    line-height: 2;
    color: #444;
      text-align:justify ;
}


@media (max-width: 768px) {
    .about-section {
    padding: 10px;

}
    #about-head {
        font-size: 20px;
        font-weight: 600;
        padding-top: 15px;
    }

    #about-img {
        width: 200px;
        margin-left: -15px;
        margin-top: 4rem;
    }

    #about-frozz {
        font-size: 15px;
        margin-top: -12px;
    }

    #about-para {
        font-size: 12px;
        line-height: 1.4;
   
    }

    .about-section p {
        font-size: 12px;
        line-height: 1.4;
        text-align: justify;
    }
}




/* contact */
#contact h1 {
    font-family: 'Chewy, system-ui';
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1.5px;
    padding-top: 15px;
    color: rgba(99, 20, 93, 0.92);
}

/* footer */

#reserve{
    margin-top: 2rem;
    font-size: 15px;
}
.size{
        font-size: 15px;
}
