*{
    margin:0%;
    padding: 0%;
     font-family: "Poppins", sans-serif;
     font-weight: 500;
}
#landing{
    background-color: #F3E8FF;

}
#cursive-text{
    font-family: "Birthstone Bounce", cursive;
    font-size: 125px;
    font-weight: 500;
    color: rgb(255, 255, 255,0.7);
    letter-spacing: 22px;
}
#main-div-landing{
    position: relative;
}
#leaf1-img{
    position: absolute;
    top: 1rem;
    right: 2rem;
  
}
#leaf2-img{
    position: absolute;
   left: 10rem;
    bottom: 7rem;
    
}
#leaf3-img{
    position: absolute;
    top: 20rem;
    right: 16rem;
   
}
#leaf4-img{
    position: absolute;
   left: 25rem;
    top: 6rem;

}